.sign-up {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: auto;
  margin: 50px 0 50px 0;

  &__top-container {
    align-items: center;
    text-align: center;
    width: 320px;
  }

  &__top-container-headline {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
  }

  &__top-container-text {
    font-size: 16px;
    color: #1C1C1C;

  }

  &__inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input-field {
    width: 240px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 6px;
  }

  &__button {
    width: 530px;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    color: #000000;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  &__social {
    display: flex;
    gap: 10px;
  }

  &__social-icons {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

.sign-up__input-field.error {
  border: 1px solid #e82323;
  background-color: #ffe6e6;
}

.error-message{
    color: #e82323;
    font-size: 16px;
}

@media screen and (max-width: 1350px) {
  .sign-up {
    &__top-container {
      width: auto;
    }

    &__inputs {
      gap: 30px;
    }

    &__input-field {
      width: 100%;
      padding: 8px;
      font-size: 14px;
    }

    &__button {
      width: 430px;
      font-size: 14px;
      padding: 8px;
    }

    &__top-container-headline {
      font-size: 36px;
    }

    &__top-container-text {
      font-size: 14px;
    }

    &__social-icons {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 1002px) {
  .sign-up {
    &__top-container-headline {
      font-size: 36px;
    }

    &__top-container-text {
      font-size: 14px;
    }

    &__input-field {
      font-size: 14px;
      padding: 8px;
    }

    &__button {
      font-size: 14px;
      padding: 8px;
    }

    &__social-icons {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 600px) {
  .sign-up {
    &__top-container-headline {
      font-size: 24px;
    }

    &__top-container-text {
      font-size: 12px;
    }

    &__input-field {
      font-size: 12px;
      padding: 6px;
    }

    &__button {
      width: 380px;
      font-size: 12px;
      padding: 6px;
    }

    &__social-icons {
      font-size: 20px;
    }
  }
}