.sign-up {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: auto;
  margin: 50px 0 50px 0;
  padding: var(--main-padding-properties);

  &__top-container {
    align-items: center;
    text-align: center;
    width: 320px;
  }

  &__top-container-text {
    font-size: 16px;
    color: #1C1C1C;
  }

  &__inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__inputs-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
  }

  &__input-field {
    width: 100%;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;

    &__input-field::placeholder {
      color: grey;
    }

  }

  &__checkbox {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    gap: 10px;
  }

  &__checkbox-field{
    padding: 0;
  }

  &__checkbox-label {
    font-size: 16px;
    color: grey;
  }

  &__button {
    width: 480px;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }
}

.error-message {
  color: #d82323;
  font-size: 14px;
  margin-top: 5px;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .sign-up {
    &__top-container-headline {
      font-size: 24px;
    }

    &__top-container-text {
      font-size: 12px;
    }

    &__input-field {
      font-size: 12px;
      padding: 6px;
    }

    &__checkbox {
      padding: 3px;
    }

    &__checkbox-label {
      font-size: 12px;
    }

    &__button {
      width: 230px;
      font-size: 12px;
      padding: 6px;
    }

    &__social-icons {
      font-size: 20px;
    }
  }
}

.social {
  display: flex;
  gap: 20px;

  &__icons {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
  }
}

.sign-link{
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.2s;

    &:hover {
        color: var(--secondary-color);
    }
}





