a {
  text-decoration: none;
}

.header {
  display: flex;
  background-color: var(--primary-color);
  margin: 0;

  &__content-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: var(--main-padding-properties);
    height: 80px;
  }



  &__menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    position: absolute;
  }

  &__menu-icon {
    display: none;
    cursor: pointer;
  }

  &__content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    transition: max-height 0.3s ease;
    gap: 20px;

    &.header__content--open {
      display: flex;
      flex-direction: column;
      background-color: var(--primary-color);
      position: fixed;
      align-items: flex-start;
      top: 70px;
      width: 100%;
      height: 100vh;
      padding: 20px 50px;
      left: 0;
      gap: 1rem;
      border-top: 1px solid #17CF97;
      z-index: 2;
      box-sizing: border-box;
      text-align: left;
      justify-content: flex-start;
    }
  }

  &__content-list--mod {
    display: flex;
    justify-content: center;
    color: white;
    transition: 0.1s;

    &:hover {
      color: #17CF97;
    }
  }

  &__content-list {
    color: white;
    transition: 0.1s;
  }

  &__content-list:hover {
    color: #17CF97;
  }

  &__login {
    display: flex;
    justify-content: center;
    max-width: 180px;
    width: 100%;
    font-size: 16px;
    align-items: center;
    gap: 10px;
  }

  &__login-icons{
    display: flex;
    gap: 30px;
  }

  &__login-button {
    background: none;
    color: white;
    width: fit-content;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    font-size: 14px;
    font-weight: 400;

    &:hover {
      background: #588fc6;
      color: black;
    }

    &--sign-up {
      background: #17CF97;
      color: black;
      border: none;

      &:hover {
        background: #588fc6;
      }
    }
  }

  &__profile-icon {
    color: white;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    align-items: center;
    font-size: 26px;

    &:hover {
      color: var(--secondary-color);
    }
  }
}


@media (max-width:1440px) {
  .header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__content-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-align: center;
      padding: 0 50px 0 50px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 0;

    &__content, &__login, &__profile-icon {
      display: none;
    }

    &__menu {
      position: inherit;
    }

    &__login {
      position: absolute;
    }

    &__menu-icon {
      display: flex;
      align-items: center;
      color: white;
      font-size: 28px;
    }
  }
}

@media (max-width: 480px) {
  .header__content-container {
    gap: 2rem;
  }

  .header__logo {
    width: 150px;
  }
}







