.coach-info {
  display: flex;
  justify-content: center;
  height: auto;
  flex-direction: column;
  padding: var(--main-padding-properties);
  margin: 30px 0;

  &__programmes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__programe {
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    width: 40%;
    gap: 20px;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &__programe-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__programe-client{
    margin: 0;
  }

  &__programe-name {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: var(--primary-color);
    margin: 0;
    gap: 10px;
    flex-direction: row;
  }

  &__headline {
    font-size: 24px;
    color: var(--primary-color);
    margin: 0;
  }

  &__icon {
    font-size: 24px;
    display: block;
    color: var(--primary-color);
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: var(--secondary-color);
    }

    &--plus {
      margin-bottom: 20px;
    }
  }
}