.footer {
  background: var(--primary-color);
  min-height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__container{
  display: flex;
  width: 100%;
  flex-direction: column;
  &--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--main-padding-properties);
    flex-wrap: wrap;

  }
  &--main{
    display: flex;
    justify-content: space-between;
    padding: var(--main-padding-properties);
    margin-bottom: 29px;
  }
  &--bottom{
    display: flex;
    padding: var(--main-padding-properties);
    color: white;
    align-items: flex-start;
    text-align: center;
  }
  &--bottom p{
    font-weight: 400;
    font-size: 16px;
  }
}

.top__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  &--text{
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin-right: 32px;
  }
  &--social{
    display: flex;
    justify-content: space-between;
    width: 150px;
    font-size: 32px;
  }
  &--list{
    color: white;
    transition: 0.1s;
  }
  &--list:hover{
    color: #17CF97;
  }
}

.content__container--main{
  .footer__left{
    align-items: flex-start;
    color: white;
    width: 370px;
    &--text{
        font-weight: bold;
        font-size: 24px;
    }
  }

  .footer__right{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    width: 750px;
    line-height: 33px;
  }
  .footer__links{
    display: flex;
    flex-direction: column;
    &--text{
        font-weight: bold;
        font-size: 24px;
      transition: 0.1s;
    }
  }
  .footer__links a{
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
}

.dividing{
  width: 90%;
  background-color: white;
}

@media (max-width: 1002px){
  .content__container--top, .content__container--main, .content__container--bottom {
    padding: 20px 50px 0 50px;
  }
  .footer__links {
    margin-bottom: 20px;
  }
}

@media (max-width: 882px){
  .content__container--main, .footer__right {
    flex-wrap: wrap;
  }
}









