.footer {
  background: var(--primary-color);
  min-height: 400px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--main-padding-properties);
  flex-wrap: wrap;
}

.footer__content {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.footer__content p {
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-right: 32px;
}

.footer__content-container{
  display: flex;
  width: 100%;
  flex-direction: column;

}

.footer__social-networks {
  display: flex;
  justify-content: space-between;
  width: 150px;
  font-size: 32px;
}

.dividing__line{
  width: 90%;
  background-color: white;
}

.footer__main-content{
  display: flex;
  justify-content: space-between;
  padding: var(--main-padding-properties);
  margin-bottom: 29px;
}

.footer__left-content{
  align-items: flex-start;
  color: white;
  width: 370px;
}

.footer__left-content h1{
  font-weight: bold;
  font-size: 24px;
}

.footer__right-content{
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  width: 750px;
  line-height: 33px;
}

.footer__links{
  display: flex;
  flex-direction: column;
}

.footer__links h2{
  font-weight: bold;
  font-size: 24px;
}

.footer__links a{
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.footer__bottom-content{
  display: flex;
  padding: var(--main-padding-properties);
  color: white;
  align-items: flex-start;
  text-align: center;
}

.footer__bottom-content p{
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 1002px){
  .footer__top-content, .footer__main-content, .footer__bottom-content {
    padding: 20px 50px 0 50px;
  }
  .footer__links {
    margin-bottom: 20px;
  }
}

@media (max-width: 882px){
  .footer__main-content, .footer__right-content {
    flex-wrap: wrap;
  }
}









